@page
@using movie.Models.Movie
@using movie.Models.ViewModel
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mx-auto mt-5">
    <div class="flex justify-between items-center">
        <h3 class="text-2xl font-semibold text-primary mb-3">Phim đang chiếu</h3>
        @if (@Model.UserModel is { })
        {
            <a href="/Admin" class="text-primary font-semibold underline">
                Admin page
            </a>
        }
    </div>
    <div method="post" class="grid grid-cols-8 gap-2.5">
        @foreach (MovieModel movie in @Model.Movies)
        {
            @await Html.PartialAsync("Shared/_CardMovie", new CardMovie()
                   {
                       MovieModel = movie,
                       UserModel = Model.UserModel
                   })
        }
    </div>
</div>