@model movie.Models.User.UserCreate

<div id="modal-create-employee" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Create Employee</h3>
            <button class="modal-close" data-modal-target="modal-create-employee">&times;</button>
        </div>
        <div class="modal-body">
            <form id="create-employee" class="flex flex-col gap-3">
                <div>
                    <label>Name</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Name"
                        placeholder="Enter name"/>
                </div>
                <div>
                    <label>Email</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Email"
                        placeholder="Enter email"/>
                </div>
                <div>
                    <label>Password</label>
                    <input
                        type="password"
                        class="input-custom"
                        asp-for="Password"
                        placeholder="Enter password"/>
                </div>
                <div>
                    <label>Birthday</label>
                    <div class="flex items-center gap-2.5">
                        @Html.DropDownList("Month", new SelectList(new List<string>() { }), new { @class = "month-custom input-custom" })
                        @Html.DropDownList("Day", new SelectList(new List<string>() { }), new { @class = "day-custom input-custom" })
                        @Html.DropDownList("Year", new SelectList(new List<string>() { }), new { @class = "year-custom input-custom" })
                    </div>
                </div>
                <div class="list-error"></div>
                <div class="">
                    <button type="submit" class="btn bg-primary text-white">Save</button>
                    <button class="btn bg-gray-500 text-white" data-modal-target="modal-create-employee">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>