@model movie.Models.User.UserEdit


@{
    var isError = !string.IsNullOrEmpty(Html.ViewData.ModelState.Keys.FirstOrDefault(m => m == "Edit"));
}


<div id="modal-edit-employee" class="modal @(isError ? "active" : "")">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Edit Employee</h3>
            <button class="modal-close" data-modal-target="modal-edit-employee">&times;</button>
        </div>
        <div class="modal-body">
            <form method="post" asp-page="Employee" asp-page-handler="Edit" class="flex flex-col gap-3">
                <input type="text" hidden name="id" asp-for="Id">
                <div>
                    <label>Name</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Name"
                        name="name"
                        placeholder="Enter name"/>
                    @if (isError)
                    {
                        <span class="text-error" asp-validation-for="Name"></span>
                    }
                </div>
                <div>
                    <label>Email</label>
                    <input
                        type="email"
                        class="input-custom"
                        asp-for="Email"
                        name="email"
                        placeholder="Enter email"/>
                    @if (isError)
                    {
                        <span class="text-error" asp-validation-for="Email"></span>
                    }
                </div>
                <div>
                    <label>Password</label>
                    <input
                        type="password"
                        class="input-custom"
                        asp-for="Password"
                        name="password"
                        placeholder="Enter password"/>
                    @if (isError)
                    {
                        <span class="text-error" asp-validation-for="Password"></span>
                    }
                </div>
                <div>
                    <label>Birthday</label>
                    <div class="flex items-center gap-2.5">
                        <select required asp-for="Month" class="month-custom input-custom"></select>
                        <select required asp-for="Day" class="day-custom input-custom"></select>
                        <select required asp-for="Year" class="year-custom input-custom"></select>
                    </div>
                    @if (isError)
                    {
                        <div class="flex flex-col gap-2.5">
                            <span class="text-error" asp-validation-for="Day"></span>
                            <span class="text-error" asp-validation-for="Month"></span>
                            <span class="text-error" asp-validation-for="Year"></span>
                        </div>
                    }
                </div>
                <div >
                    <button type="submit" class="btn bg-primary text-white">Save</button>
                    <button class="btn bg-gray-500 text-white" data-modal-target="modal-edit-employee">
                        Cancel
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>