@using movie.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model movie.Models.Movie.MovieCreate


<div id="modal-create-movie" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Create Movie</h3>
            <button class="modal-close" data-modal-target="modal-create-movie">&times;</button>
        </div>
        <div class="modal-body">
            <form id="create-movie" class="flex flex-col gap-3">
                <div>
                    <label>Name</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Name"
                        placeholder="Enter name"/>
                </div>
                <div>
                    <label>Image</label>
                    <input
                        type="text"
                        class="input-custom"
                        asp-for="Image"
                        placeholder="Enter image"/>
                </div>
                <div>
                    <label>Price</label>
                    <input
                        type="number"
                        class="input-custom"
                        asp-for="Price"
                        placeholder="Enter Price"/>
                </div>
                <div>
                    <label>Ticket Count</label>
                    <input
                        type="number"
                        class="input-custom"
                        asp-for="TicketCount"
                        placeholder="Enter Price"/>
                </div>
                <div>
                    <label>Room</label>
                    @Html.DropDownList("RoomId", new SelectList(FakeData.Rooms, "Id", "Name"), new { @class = "input-custom" })
                </div>
                <div class="list-error"></div>
                <div class="">
                    <button type="submit" class="btn bg-primary text-white">Save</button>
                    <button class="btn bg-gray-500 text-white" data-modal-target="modal-create-movie">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>