<div class="pagination flex gap-2.5 my-2.5">
    <button data-type="first" class="btn-pagi">
        <i class="fas fa-angle-double-left"></i>
    </button>
    <button data-type="prev" class="btn-pagi">
        <i class="fas fa-caret-left"></i>
    </button>
    <div id="current-page" class="px-4 py-2 bg-primary font-semibold rounded text-white">
        1
    </div>
    <button data-type="next" class="btn-pagi ">
        <i class="fas fa-caret-right"></i>
    </button>
    <button data-type="last" class="btn-pagi ">
        <i class="fas fa-angle-double-right"></i>
    </button>
    <div class="flex items-center gap-2.5" method="get">
        @Html.DropDownList("PageSize", new SelectList(new List<string>() { "5", "10", "20" }), new { @class = "bg-white text-gray-700 outline-none rounded shadow select-per-page" })
        <p>items/page</p>
    </div>
</div>
